<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="container-fluid">
    <h1>Welcome to Cyber Defense Course Project</h1>
    <h2>Fostering Precision Health Communities around Big Data Analytics in Protected Environments</h2>
    <p>Description of the project goes here</p>
    <p>
      As precision medicine involves data driven methods, it relies on healthcare data collected from multiple sources, and that data needs to be available for the healthcare community within a protected environment for data storage and analysis. Access to healthcare  data needs to follow specific guidelines to comply with security standards and regulations.
    </p>
    <p>
      Currently researchers have access to data via manual processes to ensure healthcare data access standards, and data fulfillment is done via disparate platforms that made the compilation and analysis an extremally cumbersome process, which results in additional overhead and delays on attaining the research goals.
    </p>
    <p>
      It brings the need for a protected  environment to foster data from multiple sources, and with the required processes and functionality needed to allow researches within a healthcare community to submit data requests, retrieve  the that data in a secure, consistent and standard manner, and have access to analytics tools to conduct knowledge discovery tasks withing a unified and secure platform.
    </p>
    <p>
      Such platform will facilitate researches to submit data requests, access data from multiple sources in a secure and standard manner, and have access to analytics tools all within the same environment, and in this way reducing the burden of existing data compilation and analysis, and concentrating resources and efforts on the goal of the research project.
    </p>
  </div>
</div>
