
<div class="row" style="justify-content: center; padding-top: 10%; padding-bottom: 5%;">
  <div>
    <h1><strong>There will be a login interface before the admin can access the records</strong></h1>
  </div>
  <div class="col col-12 col-sm-12 col-md-10">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="pawprint">
        <th mat-header-cell *matHeaderCellDef> Pawprint </th>
        <td mat-cell *matCellDef="let element"> {{element.pawprint}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status/Check </th>
        <td mat-cell *matCellDef="let element" style="text-decoration: underline;" (click)="moveToInfo(element.name)"> Pending </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
